<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - TodoApp</title>
    <link rel="stylesheet" href="~/css/reset.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/css/base.css" asp-append-version="true"/>
    @await RenderSectionAsync("Css", false)
</head>
<body>

<main class="vh-100">
    @RenderBody()
</main>

@await RenderSectionAsync("Scripts", false)
</body>
</html>