.todos-container {
    margin: 0 auto;
    padding: 2.25rem 0.50rem;
    max-width: 25rem;
}

.todos-date-list {
    padding: 1rem 0 0;
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.todos-heading {
    text-align: center;
    margin-top: -30px;
    padding-bottom: 0.75rem;
}

.todos-list {
    list-style: none;
    padding: 0;
}

.todos-item {
    display: flex;
    align-items: center;
    justify-content: center;
}

.todos-item + .todos-item {
    padding-top: 0.50rem;
}

.todos-item-toggle {
    flex: 2;
    display: flex;
    align-items: center;
    justify-content: center;
}

.todos-item-toggle-checkbox:checked + .todos-item-toggle-label {
    text-decoration: line-through;
}

.todos-item-toggle-label {
    flex: 2;
    padding: 0 0.50rem;
}

.todos-item-delete-button {
    border: 0;
    padding: 0;
    background: 0;
    font-size: 2rem;
    line-height: 0;
}

.todos-add {
    padding-top: 1.25rem;
}
